# Ignore everything first
*

# Allow only what Docker needs
!code/
!static/
!config/
!Dockerfile
!requirements.txt

# Exclude specific files from allowed directories
code/.env
code/logs/
**/__pycache__/
**/*.pyc
