# Ignore everything first
*

# Allow what Docker needs
!code/
!code/**
!static/
!static/**
!config/
!config/**
!Dockerfile

# Exclude unwanted files from allowed directories
**/__pycache__/
**/*.pyc
**/.env
